* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    background-color: #f4f4f4;
}

.container {
    background-color: #333333;
    width: 60%;
    margin: 50px auto;
    min-height: 550px;
    border-radius: 20px;
}

header h1 {
    color: #ffffff;
    font-size: 22px;
    padding: 15px 0 10px 20px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.messages {
    width: 90%;
    background-color: #f4f4f4;
    margin: 20px auto;
    height: 350px;
    overflow: auto;
    /*scrollbar*/
}

.message {
    list-style: none;
    padding: 8px;
    border-bottom: 1px solid rgb(195, 194, 194);
}

.formulaire {
    width: 90%;
    min-height: 80px;
    margin: 10px auto;
}

.formulaire input[type='text'],
select {
    height: 25px;
    width: 48%;
    padding: 3px;
    border: 1px solid #666;
    border-radius: 10px;
    font-style: italic;
    font-weight: bold;
    font-size: larger;
    color: #f4f4f4;
    background-color: #333333;
}

.formulaire .bout {
    padding: 3px;
    width: 100%;
    margin-top: 20px;
    font-size: 24px;
    border-radius: 10px;
}

.date {
    color: rgb(179, 177, 177);
}